@model List<RoleListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count =0;
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard/Index">Anasayfa</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Roller</a></li>
        </ol>
    </div>
</div>
<!-- row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <h4 class="card-title">
                                Rol Listesi
                            </h4>
                        </div>
                        <div class="col-lg-2">
                            <a href="/Admin/Role/AddRole" class="btn mb-1 btn-primary">
                                Yeni Rol  <span class="btn-icon-right"><i style="font-size:medium" class="fas fa-fingerprint"></i> +</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped verticle-middle">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Rol Adı</th>
                                    <th scope="col">Role Ait Kişi Sayısı</th>
                                    <th scope="col">Aksiyon</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td>@item.Name</td>
                                        <td><a href="/Admin/Role/UserListByRole/@item.Id">@item.UserCount</a></td>
                                        <td>
                                            <span><a href="/Admin/Role/UpdateRole/@item.Id" data-toggle="tooltip" data-placement="top" title="Güncelle"><i class="fa fa-pencil color-muted m-r-5"></i> </a><a href="/Admin/Role/DeleteRole/@item.Id" data-toggle="tooltip" data-placement="top" title="Sil"><i class="fa fa-close color-danger"></i></a></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
