@{
    ViewData["Title"] = "Testimonial";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<div class="container-fluid page-header mb-5 p-0" style="background-image: url('/hotel-html-template/img/carousel-1.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Yorumlar</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="/Default/Index">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="#">Sayfalar</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Yorumlar</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
@await Component.InvokeAsync("_UILayoutBookingComponentPartial")
<!-- Testimonial Start -->
@* <div class="container-fluid pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <h6 class="section-title text-center text-primary text-uppercase">Testimonial</h6>
        <h1 class="mb-5">Our Clients <span class="text-primary text-uppercase">Feedback</span></h1>
    </div>
    <div class="owl-carousel testimonial-carousel-center owl-loaded owl-drag">



        <div class="owl-stage-outer">
            <div class="owl-stage" style="transition: 1s; width: 4620px; transform: translate3d(-1650px, 0px, 0px);">
                <div class="owl-item cloned" style="width: 660px;">
                    <div class="testimonial-item rounded text-center mb-5">
                        <img class="img-fluid rounded bg-light p-2 mx-auto mb-3" src="~/hotel-html-template/img/testimonial-2.jpg" style="width: 90px; height: 90px;">
                        <h4 class="mb-1">Client Name</h4>
                        <p class="fst-italic">Profession</p>
                        <div class="testimonial-text position-relative rounded text-center p-4">
                            <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 ms-5 mt-n4"></i>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="m-0">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr nonumy erat sit sit erat at rebum justo sea clita, kasd stet sed elitr. Elitr lorem diam justo ut clita et. Vero lorem sit lorem lorem ipsum elitr diam, amet justo et rebum amet at amet et.</p>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 660px;">
                    <div class="testimonial-item rounded text-center mb-5">
                        <img class="img-fluid rounded bg-light p-2 mx-auto mb-3" src="~/hotel-html-template/img/testimonial-3.jpg" style="width: 90px; height: 90px;">
                        <h4 class="mb-1">Client Name</h4>
                        <p class="fst-italic">Profession</p>
                        <div class="testimonial-text position-relative rounded text-center p-4">
                            <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 ms-5 mt-n4"></i>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="m-0">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr nonumy erat sit sit erat at rebum justo sea clita, kasd stet sed elitr. Elitr lorem diam justo ut clita et. Vero lorem sit lorem lorem ipsum elitr diam, amet justo et rebum amet at amet et.</p>
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 660px;">
                    <div class="testimonial-item rounded text-center mb-5">
                        <img class="img-fluid rounded bg-light p-2 mx-auto mb-3" src="~/hotel-html-template/img/testimonial-1.jpg" style="width: 90px; height: 90px;">
                        <h4 class="mb-1">Client Name</h4>
                        <p class="fst-italic">Profession</p>
                        <div class="testimonial-text position-relative rounded text-center p-4">
                            <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 ms-5 mt-n4"></i>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="m-0">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr nonumy erat sit sit erat at rebum justo sea clita, kasd stet sed elitr. Elitr lorem diam justo ut clita et. Vero lorem sit lorem lorem ipsum elitr diam, amet justo et rebum amet at amet et.</p>
                        </div>
                    </div>
                </div><div class="owl-item active center" style="width: 660px;">
                    <div class="testimonial-item rounded text-center mb-5">
                        <img class="img-fluid rounded bg-light p-2 mx-auto mb-3" src="~/hotel-html-template/img/testimonial-2.jpg" style="width: 90px; height: 90px;">
                        <h4 class="mb-1">Client Name</h4>
                        <p class="fst-italic">Profession</p>
                        <div class="testimonial-text position-relative rounded text-center p-4">
                            <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 ms-5 mt-n4"></i>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="m-0">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr nonumy erat sit sit erat at rebum justo sea clita, kasd stet sed elitr. Elitr lorem diam justo ut clita et. Vero lorem sit lorem lorem ipsum elitr diam, amet justo et rebum amet at amet et.</p>
                        </div>
                    </div>
                </div><div class="owl-item active" style="width: 660px;">
                    <div class="testimonial-item rounded text-center mb-5">
                        <img class="img-fluid rounded bg-light p-2 mx-auto mb-3" src="~/hotel-html-template/img/testimonial-3.jpg" style="width: 90px; height: 90px;">
                        <h4 class="mb-1">Client Name</h4>
                        <p class="fst-italic">Profession</p>
                        <div class="testimonial-text position-relative rounded text-center p-4">
                            <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 ms-5 mt-n4"></i>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="m-0">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr nonumy erat sit sit erat at rebum justo sea clita, kasd stet sed elitr. Elitr lorem diam justo ut clita et. Vero lorem sit lorem lorem ipsum elitr diam, amet justo et rebum amet at amet et.</p>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 660px;">
                    <div class="testimonial-item rounded text-center mb-5">
                        <img class="img-fluid rounded bg-light p-2 mx-auto mb-3" src="~/hotel-html-template/img/testimonial-1.jpg" style="width: 90px; height: 90px;">
                        <h4 class="mb-1">Client Name</h4>
                        <p class="fst-italic">Profession</p>
                        <div class="testimonial-text position-relative rounded text-center p-4">
                            <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 ms-5 mt-n4"></i>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="m-0">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr nonumy erat sit sit erat at rebum justo sea clita, kasd stet sed elitr. Elitr lorem diam justo ut clita et. Vero lorem sit lorem lorem ipsum elitr diam, amet justo et rebum amet at amet et.</p>
                        </div>
                    </div>
                </div><div class="owl-item cloned" style="width: 660px;">
                    <div class="testimonial-item rounded text-center mb-5">
                        <img class="img-fluid rounded bg-light p-2 mx-auto mb-3" src="~/hotel-html-template/img/testimonial-2.jpg" style="width: 90px; height: 90px;">
                        <h4 class="mb-1">Client Name</h4>
                        <p class="fst-italic">Profession</p>
                        <div class="testimonial-text position-relative rounded text-center p-4">
                            <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 ms-5 mt-n4"></i>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="m-0">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr nonumy erat sit sit erat at rebum justo sea clita, kasd stet sed elitr. Elitr lorem diam justo ut clita et. Vero lorem sit lorem lorem ipsum elitr diam, amet justo et rebum amet at amet et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="owl-nav"><div class="owl-prev"><i class="bi bi-arrow-left"></i></div><div class="owl-next"><i class="bi bi-arrow-right"></i></div></div><div class="owl-dots disabled"></div>
    </div>
</div>
 *@<!-- Testimonial End -->