<div class="row">
    @await Component.InvokeAsync("_DashboardSocialMediaFacebookComponentPartial")
    @await Component.InvokeAsync("_DashboardSocialMediaLinkedinComponentPartial")
    @await Component.InvokeAsync("_DashboardSocialMediaInstagramComponentPartial")
    @await Component.InvokeAsync("_DashboardSocialMediaTwitterComponentPartial")
</div>