@model SubscribeAddDto
@{
    ViewData["Title"] = "AddSubscribe";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/Subscribe/Index">Abonelar</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Yeni Abone Ekle</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Abone Bilgileri</h4>
                    <div class="basic-form">
                        <form enctype="multipart/form-data" method="post">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>E-posta</label>
                                    <input type="text" class="form-control" asp-for="Email" />
                                    <span class="text-danger" asp-validation-for=Email></span>
                                </div>
                            </div>
                            <button class="btn mb-1 btn-success">
                                Kaydet <span class="btn-icon-right"><i class="fa fa-check"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

