@model AddStaffViewModel
@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/Staff/Index">Personeller</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Yeni Personel Ekle</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Personel Bilgileri</h4>
                    <div class="basic-form">
                        <form enctype="multipart/form-data" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Adı</label>
                                    <input type="text" class="form-control" asp-for="Name" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Soyadı</label>
                                    <input type="text" class="form-control" asp-for="Surname" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Ünvan</label>
                                    <input type="text" class="form-control" asp-for="Title" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Fotoğraf Yükle</label>
                                    <br />
                                    <div typeof="submit" class="btn mb-1 btn-rounded btn-secondary">
                                        <span><i class="fa fa-upload color-success"></i>   <input type="file" name="Image" /></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Instagram</label>
                                    <input type="text" class="form-control" placeholder="Yalnızca kullanıcı adını girin." asp-for="InstagramUrl" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Facebook</label>
                                    <input type="text" class="form-control" placeholder="Yalnızca kullanıcı adını girin." asp-for="FacebookUrl" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Twitter</label>
                                    <input type="text" class="form-control" placeholder="Yalnızca kullanıcı adını girin." asp-for="TwitterUrl" />
                                </div>
                            </div>
                            <button class="btn mb-1 btn-success">
                                Kaydet <span class="btn-icon-right"><i class="fa fa-check"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

