<div class="mb-4">
    <h4 class="mb-4">1 Yorum</h4>
    <div class="d-flex mb-4">
        <img src="~/hotel-html-template/img/testimonial-2.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
        <div class="ps-3">
            <h6>John Doe <small class="text-body fw-normal fst-italic">01 Jan 2045</small></h6>
            <div class="mb-2">
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
                <small class="fa fa-star text-primary"></small>
            </div>
            <p class="mb-2">
                Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed eirmod
            </p>
        </div>
    </div>
</div>