@model List<SocialMediaListDto>
<div class="col-lg-5 px-5 text-end">
    <div class="d-inline-flex align-items-center py-2">
        @foreach (var item in Model)
        {
            <a class="me-3" href="@item.LinkUrl"><i class="@item.LogoUrl"></i></a>
        }     
    </div>
</div>