<div class="footer">
    <div class="copyright">
        <p><a href="https://www.linkedin.com/in/batuhanyalin">Batuhan YALIN</a> tarafından oluşturulmuştur. Tüm Hakları Saklıdır. &copy; Kaynak kodlara gitmek için:<a href="https://www.github.com/batuhanyalin/hotelapiproject"> <i style="font-size:large" class="fa fa-github"></i></a></p>
    </div>
</div>