
<div class="bg-light p-4 p-md-5">
    <h4 class="mb-4">Yorum Yap</h4>
    <form>
        <div class="row g-3">
            <div class="col-12 col-sm-4">
                <input type="text" class="form-control bg-white border-0" placeholder="Ad" style="height: 55px;">
            </div>
            <div class="col-12 col-sm-4">
                <input type="text" class="form-control bg-white border-0" placeholder="Soyad" style="height: 55px;">
            </div>
            <div class="col-12 col-sm-4">
                <input type="email" class="form-control bg-white border-0" placeholder="E-posta" style="height: 55px;">
            </div>
            <div class="col-12">
                <textarea class="form-control bg-white border-0" rows="5" placeholder="Yorum"></textarea>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">Yorum Yap</button>
            </div>
        </div>
    </form>
</div>